.user_page {
    padding: 4 rem;  
   margin-left: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    overflow:auto;
    text-align: center;
    overflow-y: scroll;
    max-height: 50rem;
}

.headings {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.search-box {
    outline: none;
    width: auto;
    border: 1px solid grey;
    font-size: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}